@import '../variables';

.formPage{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: $main;
    color: white;
    .formPageTitle{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        padding: 3.5em 0 1em 0;
        width: 90%;
        h1{
            height: auto;
            align-self: flex-start;
            font-size: Min(60px, 4vh);
            color: inherit;
            font-weight: bold;
            letter-spacing: 2px;
            z-index: 2;
            
            // flex-basis: 70%;
        }
        .newForm{
            color: $dif;
            // max-width: 45%;
            height: Min(75px, 10vw);
            width: Min(75px, 10vw);
            margin-right: 10px;
            background-color: transparent;
            border: none;
            @include flexCenter(column);
            font-size: 12px !important;
            img{
                max-height: 60%;
                color: inherit;
                fill: white;
                max-height: 100%;
            }
        }
    }
   
    .separation{
        height: 10px;
        border-radius: 5px;
        background-color: white;
        color: white;
        width: 90%;
        z-index: 2;
    }
}
.form_svg{
    min-height: 100%;
    max-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}
.forms{
    width: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
    .headers{
        display: flex;
        justify-content: center;
        font-weight: bold;
        letter-spacing: 2px;
        text-transform: uppercase;
        width: 100%;
        padding: 2em 0;
        p{
            display: flex;
            justify-content: center;
            width: 30%;
            font-size: Min(20px, 2vh);
        }
        .description{
            width: 40%;
        }
        
    }
    .formContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        background-color: white;
        border-radius: 10px;
        border: none;
        color: #1d1d1b;
        margin: 1em 0;
        .title, .description, .operations{
            font-weight: regular;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 30%;
            font-size: 16px;
            
        }
        .operations{
            flex-wrap: wrap;
            justify-content: space-evenly;
            button{
                cursor: pointer;
                flex-basis: 140px;
                background-color: $sec;
                font-size: 12px !important;
                color: white;
                border: none;
                box-shadow: 0 2px #8c8c8c;
                margin: 5px 0;
            }
            
        }
        .description{
            width: 40%;
            p{
                padding: 0.5em;
            }
        }
        
    }
}
